<!-- <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
            <div class="loginmodal-container">
                <h3>Login to your account</h3><br>
            <form name="loginForm" ng-submit="onLogin()">
                <input type="email" name="email" ng-model="email" placeholder="Email" required>
                <input type="password" name="pass" ng-model="password" placeholder="Password" required>
                <button type="submit" name="login" class="login loginmodal-submit">Log in</button>
                <button type="submit" name="register" class="register loginmodal-submit" ng-click="newUser=true">Register</button>

            </form>
        </div>
    </div>
</div> -->
