<div class=" animated fadeIn">
    <div class="card">
        <constant-paths-table></constant-paths-table>   
    </div>
    <div class="seperator"></div>
    <button type="button" ng-click="onOpenDialog()" data-toggle="modal" data-target="#constantPathModal" class="btn btn-primary btn-circle btn-lg btn-add">
        <i class="fa fa-plus"></i>
    </button>
    
    <div class="modal fade darkBackground" id="constantPathModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-md align-center" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>{{!path._id ? "הוסף נתיב" : "ערוך נתיב"}}</h5>
                </div>
    
                <div class="modal-body">
                    <form id="constantPathForm" name="constantPathForm" novalidate>
                        <div class="row">
                            <div class="col-md-12 form-group">
                                <label for="name">שם</label>
                                <input type="text" id="name" name="name" class="form-control" ng-model="path.name" placeholder="שם נתיב">
                            </div>
                        </div>
                        <div>נקודות דרך</div>
                        <div class="line-seperator"></div>
                        <div class="row" ng-repeat="point in geoPoints track by $index">
                            <div class="col-md-12 form-group locationInputs">
                                <label>{{$index+1}}: </label>
                                <input ng-focus="geolocate($index)" placeholder="{{point.getPlace().formatted_address}}" id="point-{{$index}}" name="point-{{$index}}" type="text" class="form-control" required>                            
                            </div>
                        </div>
                        <button type="button" ng-click="addPoint()" class="btn btn-primary btn-circle btn-sm">
                            <i class="fa fa-plus"></i>
                        </button>                  
                    </form>                
               </div>
    
               <div class="modal-bottom">               
                    <button type="button" class="btn btn-close" data-dismiss="modal">סגור</button>
                    <button type="button" class="btn btn-primary"  data-dismiss="modal" ng-click="constantPathForm.$valid && (!path._id ? addConstantPath() : updateConstantPath())">
                        שמור
                    </button>
                </div>
            </div>
        </div>
    </div>
    
        
    </div>